<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cookitor: Decode Ruby on Rails session cookie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33391738-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
	<header>
		<%= image_tag("cookitor-logo.png", id: "logo") %>
		<h1 id="title">Cookitor</h1>
		<h2 id="tagline">a Ruby on Rails session cookie decoder</h2>
	</header>
  <a href="https://github.com/garnu/cookitor-site"><img id="fork-me" style="" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<%= yield %>
  <p id="extension">Get the <a href="https://chrome.google.com/webstore/detail/fhkfggemmbpliiikmibomomcagnlbpdp">Google Chrome extension</a>.</p>
	<footer>
    <div id="footer-content">Made by <a href="https://github.com/garnu">Garnu</a>.</div>
	</footer>
</body>
</html>
